{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="container">
          <ul class="list-group">
            {% for category in object_list %}
            <li class="list-group-item">{{ category.name }}</li>
            {% endfor %}
          </ul>
          <div class="album py-2 bg-body-tertiary">
            <div class="container">
          <a class="btn btn-outline-success" href="/catalog/" role="button">К покупкам</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}